input {
  file {
    path => "/var/log/{{ appname }}/*.log"
    sincedb_path => "/var/log/logstash/sincedb"
    mode => "tail"
  }
}


filter {
  json {
    source => "message"
    target => "payload"
  }


  if [payload][level] <= 49 {
    drop { }
  } 

}

output {
  elasticsearch {
    hosts => ["http://192.168.31.19:9200"]
    index => "{{ appname }}"
  }
}